.friend-container{
    padding: 1.14838rem 1.02956rem 1.782rem 1.06919rem;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 1.74238rem;
    background: rgba(0, 0, 0, 0.27);
    overflow-y: "scroll";
    max-height: "29rem";
}
/* Hide scrollbar for Chrome, Safari and Opera */
.friend-container::-webkit-scrollbar {
    display: none;
}

.custom-space{
    gap: 1.188rem;
}