.top-bar {
  width: 50rem;
  height: 7.5rem;
  padding-right: 2vw;
  padding-left: 2vw;
  background-color: #ffffff;
  position: sticky;
  top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2.8125rem;
  border-color: #8584bd;
  border-style: solid;
  border-width: 6px;
  box-sizing: border-box;
  z-index: 1;
}
.app-name {
  font-family: "WorkSans-Bold";
  font-size: 4vw;
  cursor: pointer;
}
.menu-item {
  font-family: "WorkSans-Medium";
  font-size: 1.875rem;
  font-weight: 500;
  cursor: pointer;
}
