.home-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-1 {
  color: #b6dbd0;
  font-family: "Volitaire";
  font-size: 4vw;
  margin-top: 18vh;
  margin-bottom: 0;
}
.headline-2 {
  font-family: "WorkSans-ExtraBold";
  font-size: 5vw;
  background: linear-gradient(
      269.2deg,
      #6cecc4 15.14%,
      rgba(255, 222, 38, 0) 47.25%
    ),
    linear-gradient(90.63deg, #ff3e74 3.03%, #ffde26 51.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
}
.button-container {
  box-sizing: border-box;
  width: 28.1875rem;
  height: 6.25rem;
  border-radius: 2.8125rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  gap: 1rem;
  font-family: "WorkSans-Medium";
  margin-top: 3rem;
  border: 1px transparent solid;
}
.button-container:hover {
  border: solid 0.5vw transparent;
  border-radius: 2.8125rem;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #ff3e74, #ffde26, #6cecc4);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.button-box {
  margin-top: 10vh;
  padding: 1px 3vw 1px 3vw;
  background-color: white;
  border-radius: 45px;
  border: 1vw solid transparent;
}
.button-box:hover {
  margin-top: 10vh;
  padding: 1px 3vw 1px 3vw;
  background-color: white;
  border-radius: 45px;
  border: 1vw solid transparent;
  background-image: radial-gradient(
    105.65% 2149.01% at 0% 50%,
    #ff3e74 0%,
    #ffde26 42.32%,
    #6cecc4 100%
  );
  background-origin: border-box;
  box-shadow: inset 0 100vw white;
}
.button-text {
  font-family: "WorkSans-Medium";
  font-size: 2.6vw;
}
.character-button {
  background-image: url("./../.././../assets/character-with-box.png");
  background-size: cover;
}
.button-text {
  margin-top: 10vh;
  color: white;
}
