.main-header {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 2.53438rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.option-background {
    width: 29.56175rem;
    height: 33.11619rem;
    flex-shrink: 0;
    border-radius: 1.74238rem;
    background: rgba(0, 0, 0, 0.27);
}

.room-background {
    width: 25.42338rem;
    height: 15.44431rem;
    flex-shrink: 0;
    border-radius: 1.74238rem;
    background: rgba(0, 0, 0, 0.27);
}

/* MENU BUTTON DESIGN */
.button-text {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 1.90075rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 1.5rem;
}

.chat-button,
.friends-button,
.audio-button,
.profile-button {
    display: flex;
    width: 24.04744rem;
    padding: 0.06919rem 2.178rem;
    justify-content: center;
    align-items: center;
    gap: 0.396rem;
    border-radius: 1.74238rem;
    background: rgba(255, 255, 255, 0.00);
}

.chat-button {
    border: 5.069px solid #EB87B6;
}

.chat-button:hover {
    background-color: #EB87B6;
}

.friends-button {
    border: 5.069px solid #FB8C8C;
}

.friends-button:hover {
    background-color: #FB8C8C;
}

.audio-button {
    border: 5.069px solid #4FC8B7;
}

.audio-button:hover {
    background-color: #4FC8B7;
}

.profile-button {
    border: 5.069px solid #7AC3FF;
}

.profile-button:hover {
    background-color: #7AC3FF;
}

/* ROOM BUTTON DESIGN */
.create-room-button,
.join-room-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.396rem;
    border-radius: 1.782rem;
}

.create-room-button {
    padding: 0.11881rem 0.75238rem;
    border: 5.069px solid #8A3865;
    background: #EB87B6;
}

.create-room-button:hover {
    background-color: #8A3865;
}

.create-room-button-text,
.join-room-button-text {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 1.90075rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.create-room-text,
.join-room-text {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 1.98rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.join-room-button {
    padding: 0.1838rem 1.10881rem;
    border: 3.168px solid #004883;
    background: #7AC3FF;
}

.join-room-button:hover {
    background-color: #004883;
}