.tools_panel_container {
  /* position: absolute; */
  /* bottom: 500px; */
  /* right: 0;
  left: 618px;
  top: 800px; */
  display: flex;
  align-items: center;
  justify-content: start;

}

.tools_panel {
  box-shadow: var(--shadow-popup);
  border-radius: 12px;
  /* background-color: var(--color-surface-panel); */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(194, 178, 178);
}

.tools_panel_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.seperator {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  align-self: stretch;
}